
@font-face {
    font-family: "Art1";
    src: url(../fonts/ArtisualDecoBlack.otf); 
    font-size: normal;
}

@font-face {
    font-family: "Art2";
    src: url(../fonts/ArtisualDecoBlackItalic.otf); 
    font-size: normal;
}

@font-face {
    font-family: "Art3";
    src: url(../fonts/ArtisualDecoRegular.otf); 
    font-size: normal;
}

@font-face {
    font-family: "Art4";
    src: url(../fonts/ArtisualDecoThin.otf); 
    font-size: normal;
}

@font-face {
    font-family: "Art5";
    src: url(../fonts/ArtisualDecoThinItalic.otf); 
    font-size: normal;
}

@font-face {
    font-family: "Sem1";
    src:url(../fonts/engebrechtre\ rg.otf);
    font-size: normal;
}

@font-face {
    font-family: "Sem2";
    src: url(../fonts/Semplicita\ Bold.otf);
    font-size: normal;
}

@font-face {
    font-family: "Sem3";
    src:url(../fonts/Semplicita\ Medium.otf)
}